.countries {
  display: flex;
}

.countries--second .country {
  padding: 0.5em;
}

/* Add your own CSS code below */
.countries--third {
  margin-bottom: 150px;
  display: block;
}
.countries--second {
  margin: 15px;
  border: solid black;
}
